.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: var(--color-background);
  border-bottom: 1px solid #ddd;
  height: 70px;
}

.navbar-logo a {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 45px; /* Ajusta la altura del logo según sea necesario */
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.navbar-links li {
  font-size: 1rem;
}

.navbar-links a, .navbar-links .dropdown-toggle {
  color: var(--color-text);
  cursor: pointer;
  padding: 10px 0;
  display: block;
  text-decoration: none;
  position: relative;
}

.navbar-links a:hover, .navbar-links .dropdown-toggle:hover {
  color: var(--color-primary);
}

/* Estilo para el enlace activo */
.navbar-links a.active {
  font-weight: bold;
  color: var(--color-primary);
}

/* --- Estilos del Dropdown --- */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Justo debajo del elemento padre */
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  list-style: none;
  padding: 10px 0;
  margin-top: 5px; /* Pequeño espacio */
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.dropdown-menu li a {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-menu li a:hover {
  background-color: var(--color-light-gray);
}


/* En src/components/Navbar/Navbar.css */

.dropdown-menu .disabled-link span {
  color: #999; /* Color gris para el texto */
  cursor: not-allowed; /* Cambia el cursor para indicar que no es clickeable */
  padding: 10px 20px; /* Mantenemos el padding para alinear */
  display: block;
}

.dropdown-menu .disabled-link small {
  font-style: italic;
  font-size: 0.8em;
}

.dropdown-menu .disabled-link:hover {
  background-color: transparent; /* Evitamos el efecto hover */
}